<ion-view title="Tabs Controller" hide-back-button="true" id="tabs">
    <ion-tabs class="tabs-balanced tabs-icon-only " id="tabsController-tabs1">
        <ion-tab title="Home" icon="ion-android-home" href="#/tabs/profile" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Recipes" icon="ion-android-list" href="#/tabs/recipesList" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Shopping Lists" icon="ion-android-cart" href="#/tabs/listHome" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>