<div ng-controller="recipesListCtrl">

    <ion-content padding="true" overflow-scroll="true" has-bouncing="true">
        <ion-list class="recipes-list">
            <!-- Spinner to display while loading -->
            <div class="spinner" ng-show="spinnerBoolean">
                <ion-spinner></ion-spinner>
            </div>

            <!-- Text shown when no results are returned -->
            <p ng-show="!checkResultsLength(results) && !spinnerBoolean" style="color:white;text-align:center;">No recipes found!</p>

            <!-- Repeats a list of recipes, filtering through time and search mechanisms -->
            <div class="list card" ng-repeat="recipe in results = (filteredRecipes | timeFilter | toArray | filter:searchFilter)">

                <div class="item detail-card">
                    <div class="detail-card-images waves-effect waves-block" ui-sref="recipeDetail" ng-click="goToDetail(recipe.id)">
                        <img src="{{recipe.thumbnail}}" class="card-image"/>
                    </div>
                    <div class="detail-card-content waves-effect waves-block" ui-sref="recipeDetail" ng-click="goToDetail(recipe.id)">

                        <div class="detail-card-text-area">
                            <h3>{{recipe.title}}</h3>
                            <p><i class="icon ion-android-time"></i> {{recipe.time}} Minutes</p>
                        </div>
                        
                    </div>

                </div>
            </div>
        </ion-list>
    </ion-content>
</div>