<ion-view title="Recipes" id="recipesList">
    <ion-nav-buttons side="primary">
        <button ng-click="" class="button icon ion-search"></button>
    </ion-nav-buttons>

    <ion-floating-menu>
        <ion-floating-item value="All"></ion-floating-item>
        <ion-floating-item value="Chicken"></ion-floating-item>
        <ion-floating-item value="Beef"></ion-floating-item>
        <ion-floating-item value="Fish"></ion-floating-item>
        <ion-floating-item value="Pork"></ion-floating-item>
        <ion-floating-item value="Veg"></ion-floating-item>
    </ion-floating-menu>

    <time-select></time-select>
    <ing-added-modal></ing-added-modal>
    <ion-content padding="true" class="has-header">
            <ion-list>
                <div class="spinner" ng-show="spinnerBoolean">
                    <ion-spinner></ion-spinner>
                </div>
                <div class="list card" ng-repeat="recipe in filteredRecipes | timeFilter" button-flash>
                    <div class="item detail-card">
                        <div class="detail-card-images">
                            <img src="{{recipe.thumbnail}}" class="card-image" />
                            <img ng-src="{{recipe.spice | spiceImg}}" class="spice-image"/>
                        </div>
                        <div class="detail-card-content">
                            <div class="detail-card-text-area">
                                <h3>{{recipe.title}}</h3>
                                <p><i class="icon ion-android-time"></i> {{recipe.time}} Minutes</p>
                                
                            </div>
                            <button class="button button-stable icon right margin-bottom-10 button-transition" ng-class="{green:trigger, 'ion-android-cart':!trigger, 'ion-android-checkmark-circle':trigger}" ng-click="addRecipeToShoppingList(recipe.id); reset() "></button>
                            <button class="button button-positive button-block no-margin" ui-sref="recipeDetail" ng-click="goToDetail(recipe.id)">Cook this recipe</button>
                        </div>
                        
                    </div>
                </div>
            </ion-list>
    </ion-content>
    
</ion-view>