<ion-view view-title="Edit Profile" id="accountOptions" style="background-color:#323232;">
    <ion-nav-buttons>
        <button class="button button-dark button-clear icon ion-android-arrow-back back-btn-position" ui-sref="accountOptions"  nav-direction="back"></button>
    </ion-nav-buttons>

    <ion-content scroll="true">

        <div class="list">
            <a class="item">Name</a>
            <a class="item">Email</a>
        
        </div>


        <button class="button button-energized button-block" ng-click="addMedia()">New Profile Picture</button>
        
        <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
            <img ng-repeat="x in images" ng-src="{{x}}" style="height:200px; padding: 5px 5px 5px 5px;" />
        </ion-scroll>


    </ion-content>

</ion-view>