<ion-view id="tabsMaster" hide-nav-bar="true">
    
    <betterbia-nav title="title"></betterbia-nav>

    <ion-content scroll="false" style="margin-top:48px;">
        <ion-slide-box on-slide-changed="updateTitle($index)" show-pager="false" ion-slide-tabs>
            <ion-slide ion-slide-tab-label="<i class='material-icons tab-icon'>home</i>">
                <ng-include src="'templates/profile/profile.html'"></ng-include>
            </ion-slide>
            <ion-slide ion-slide-tab-label="<i class='material-icons tab-icon'>list</i>">
                <ng-include src="'templates/recipesList/recipesList.html'"></ng-include>
            </ion-slide>
            <ion-slide ion-slide-tab-label="<i class='material-icons tab-icon'>shopping_cart</i>">
                <ng-include src="'templates/shoppingList/listHome/listHome.html'"></ng-include>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>