<ion-view title="forgotPassword" hide-nav-bar="true" id="forgotPassword" style="background-color:#83B541;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <div class="spacer" style="height: 100px;"></div>
        <p id="forgotPassword-markdown13" style="color:#000000;" class=" ">Enter you email address below and we click the ‘Forgot Password’ button, an email with instructions to reset to this address</p>
        
        
        <form name="forgotPasswordForm" novalidate ng-submit="forgotPasswordForm.$valid && resetPassword(user)">
            <div class="list">
                <label class="item item-input" style="margin-bottom: 10px;">
                    <span class="input-label">Email:</span>
                    <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
                </label>
                <input type="submit" class="button button-block button-positive" value="Forgot Password" ng-disabled="forgotPasswordForm.$invalid">
            </div>
        </form>
        
        
        <a ui-sref="login" id="forgotPassword-button36" style="font-weight:lighter;" class=" button button-light  button-block button-clear ">Return to Login Page</a>
    </ion-content>
</ion-view>