<ion-view title="Shopping List" id="listDetail" class="" hide-nav-bar="true" >
        <!-- Shopping list title -->
        <div class="inline-nav-bar" ng-class="{'nav-bar-scrolled': navScrolled.option}">
            <button class="button button-light button-clear icon ion-android-arrow-back back-btn-position" native-ui-sref="tabsMaster" native-options="{type:'slide',direction:'right'}"></button>
            <h5>{{shoppingList.selectedList.listName}}</h5>

            <a class="waves-effect waves-light waves-circle right" style="position:absolute;top:8px;right:8px;" ng-click="openPopover($event)">
                <i class="material-icons" style="margin-top:5px;color:white;">more_vert</i>
            </a>
        </div>
        <!-- BG image-->
        <img src="img/shoppingListWall.jpg" style="position:fixed;width:120%;top:-100px;left:-10%;" />
        <ion-content on-scroll="scrolled()" class="padding">
           
            

             <!-- Shopping List Items -->       
            <ion-list class="list shopping-list" style="position:relative;top:50px;">
                <p style="color:white;text-align:center;" ng-if="items.length === 0">There are no items on this list.</p>

                <ion-item ng-repeat="ingredient in items | filter:{checked:false}" 
                          class="item-remove-animate shopping-list-item"
                          style="padding:0px;height:50px;"
                          ng-class="{'bounceOutRight':trash, 'animated':trash, 'edit-me':editingThisItem}"
                          edit-list-item
                          list-exit-animation>

                    <!-- Checkbox -->
                    <button class="button button-dark button-clear shopping-list-checkbox" ng-click="setTrash()" ng-class="{'hide-me':editingThisItem}">
                        <i class="material-icons fade-transition check-button" ng-show="!trash">check_box_outline_blank</i>
                        <i class="material-icons fade-transition check-button" ng-show="trash" style="color:#3B5998;">check_box</i>
                    </button>
                     
                    <!-- Editable Input -->
                    <div editable-text="ingredient.name" class="shopping-list-label-item" ng-click="editing()" ng-class="{checked: trash}">
                        {{ingredient.name}}
                    </div>

                    <hr ng-show="editingThisItem" class="edit-line"/>
       
                </ion-item>
                <div class="list-modal-cover" ng-if="editingItem"></div>
            </ion-list>

            <!-- Got It Items -->

            <ion-list class="trash-list">

                <!-- Clear List Btn -->
                <ion-item class="item item-divider waves-effect trash-header" ng-show="trashItems.length" ng-click="shoppingList.clearDone()">
                    Got it!
                    <span class="clear-list">CLEAR</span>
                    <i class="material-icons right" style="color:#3B5998;margin-top:-4px;">delete_sweep</i>
                </ion-item>

                <ion-item ng-repeat="ingredient in items | filter:{checked:true} as trashItems"
                          class="shopping-list-item trash-animation"
                          style="padding:0px;height:50px;"
                          ng-class="{'bounceOutRight':!trash, 'animated':!trash}"
                          list-exit-animation>

                    <!-- Checkbox -->
                    <button class="button button-dark button-clear shopping-list-checkbox" ng-click="setTrash()">
                        <i class="material-icons fade-transition check-button" ng-show="!trash">check_box_outline_blank</i>
                        <i class="material-icons fade-transition check-button" ng-show="trash" style="color:#3B5998;">check_box</i>
                    </button>

                    <div class="shopping-list-label-item" ng-class="{checked: trash}">
                        {{ingredient.name}}
                    </div>

                </ion-item>

            </ion-list>

</ion-content>

        <!-- Add Item to the List Input -->
        <ion-footer-bar align-title="left" class="bar-large item-input-inset"  ng-show="!editingItem">
            <div for="newItem" class="item-input-wrapper">
                <div class="autocomplete-wrapper" ng-class="{'autocomplete-hidden': suggestions.length == 0}">

                    <!-- Input display -->
                    <div class="input-field col s6" style="margin:0;padding:0;background-color:white;">
                        <input id="newItem"
                               type="text"
                               class="autocomplete-input"
                               ng-model="newItem"
                               ng-keyup="$event.keyCode == 13 && addItem(newItem)"
                               placeholder="Add Item..."
                               style="margin:0;background-color:white;color:#323232;border:none;">
                        <label for="newItem"></label>
                    </div>

                    <!-- Autocomplete suggestions -->
                    <div class="autocomplete-suggestions" style="width:100vw;">
                        <ul class="collection" style="margin:0px 0px 9px 0px;left:-10.667px;border-radius:0px;">
                            <li class="collection-item" ng-repeat="suggestion in suggestions" ng-click="addItem(suggestion)">
                                <div>
                                    {{suggestion}}
                                    <a class="secondary-content"><i class="material-icons" style="color:#3B5998;">add</i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <!-- Add Btn -->
            <a class="waves-effect btn-flat add-btn" ng-click="addItem(newItem)"><i class="material-icons add-btn-icon" style="color:#323232;">add</i></a>
        </ion-footer-bar>

</ion-view>

