<!--<ion-view title="Profile" id="profile">
    <ion-nav-buttons side="primary">
        <button ng-click="openPopover($event)" ng-controller="PopoverController" class="button icon ion-android-more-vertical"></button>
    </ion-nav-buttons>-->

    <ion-content padding="false" scroll="false">
       
        <calendar selected="day"></calendar>
        
         <script id="calendar-temp.html" type="text/ng-template">

             <div class="cal-wrapper">
                 <form>

                    <div class="user-avatar">
                        <img src="img/default.png" class="user-img" />
                        <h5>User Name</h5>
                        <p class="points">{{calendar.points}} Points</p>
                    </div>

                     <p style="color:white;">How did you get on today?</p>
                     
                     <div class="z-depth-1" style="margin-bottom:20px;">
                         <p class="checkbox-input waves-effect" style="border-bottom:1px solid #808080;border-top-left-radius:2px;border-top-right-radius:2px;">
                             <input type="checkbox" class="filled-in" id="healthy-check" checked="checked" ng-model="healthy" ng-change="recalcPoints('ateHealthy', healthy)" />
                             <label for="healthy-check" ng-class="{'dark-text-4': healthy}">I ate healthy</label>
                         </p>

                         <p class="checkbox-input waves-effect" style="border-bottom-left-radius:2px;border-bottom-right-radius:2px;">
                             <input type="checkbox" class="filled-in" id="exercise-check" checked="checked" ng-model="exercise" ng-change="recalcPoints('exercised', exercise)" />
                             <label for="exercise-check" ng-class="{'dark-text-4': exercise}">I exercised</label>
                         </p>
                     </div>
                    
                 </form> 
                 <div class="header">
                     <a class="waves-effect waves-light waves-circle" ng-click="previous()"><i class="material-icons" style="margin-top:7px;color:white;margin-left:-3px;">chevron_left</i></a>
                     <span>{{month.format("MMMM YYYY")}}</span>
                     <a class="waves-effect waves-light waves-circle right" ng-click="next()" style="margin-top:-40px;"><i class="material-icons" style="margin-top:7px;color:white;margin-left:-1px;">chevron_right</i></a>
                 </div>
                 <div class="week flex names">
                     <span class="day-header">Sun</span>
                     <span class="day-header">Mon</span>
                     <span class="day-header">Tue</span>
                     <span class="day-header">Wed</span>
                     <span class="day-header">Thu</span>
                     <span class="day-header">Fri</span>
                     <span class="day-header">Sat</span>
                 </div>
                 <div class="calendar-drop-shadow">
                     <div class="week" ng-repeat="week in weeks">
                         <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected), unselectable: !day.isSelectable }" ng-click="select(day)" ng-repeat="day in week.days" custom="day" calendar="calendar" calendar-day>{{day.number}}</span>
                     </div>
                 </div>
             </div>

        </script>

        

    </ion-content>
  




<!--</ion-view>-->