<ion-view view-title="Recipe Detail" id="recipeDetail" hide-nav-bar="true"  style="background-color:#323232;">
    <ing-added-modal></ing-added-modal>
    <button class="button button-dark button-clear icon ion-android-arrow-back back-btn-position" ui-sref="tabsController.recipesList"></button>
    <img ng-src="{{recipeID.fullscreen}}" class="fullscreen" />
    <ion-content scroll="true">
        <div class="detail-page-content padding" button-flash>
            <h3>{{recipeID.title}}</h3>
            <button class="button button-positive button-full icon button-transition" ng-click="addAllToList(); reset()" ng-class="{'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}">  Add to Shopping List</button>
            <div class="button-bar">
                <a class="button" ng-class="{ 'button-stable': !isSet(1), 'button-balanced': isSet(1)}" ng-click="setTab(1)">1</a>
                <a class="button" ng-class="{ 'button-stable': !isSet(2), 'button-balanced': isSet(2)}" ng-click="setTab(2)">2</a>
                <a class="button" ng-class="{ 'button-stable': !isSet(3), 'button-balanced': isSet(3)}" ng-click="setTab(3)">3</a>
                <a class="button" ng-class="{ 'button-stable': !isSet(4), 'button-balanced': isSet(4)}" ng-click="setTab(4)">4</a>
            </div>
            <div class="card" ng-show="isSet(1)">
                <div class="item item-text-wrap">
                    <h4>Overview</h4>
                    {{recipeID.overview[0]}}
                </div>
            </div>
            <div class="card" ng-show="isSet(2)">
                <div class="item item-text-wrap">
                    <h4>Ingredients</h4>
                    <ion-list>
                        <ion-item ng-repeat="ingredient in recipeID.ingredients" ingredient-display button-flash>
                            <div ng-show="measureDisplay">
                                <strong>{{ingredient.name}}</strong>
                                <br />
                                <small><span ng-bind-html="ingredient.quantity | DecimalToFraction"></span> {{ingredient.measure}}<span ng-show="prepDisplay">, {{ingredient.prep}}</span></small>
                                <button class="button button-stable icon right button-transition shift-up" ng-class="{'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}" ng-click="addToList(ingredient); reset()"></button>
                            </div>
                            <div ng-hide="measureDisplay" ng-class="{'text-middle':!prepDisplay}">
                                <strong><span ng-bind-html="ingredient.quantity | DecimalToFraction"></span> {{ingredient.name}}</strong>
                                <br />
                                <small ng-show="prepDisplay">{{ingredient.prep}}</small>
                                <button class="button button-stable icon right button-transition" ng-class="{'shift-up': prepDisplay, 'shift-up-more': !prepDisplay, 'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}" ng-click="addToList(ingredient); reset()"></button>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="card" ng-show="isSet(3)">
                <div class="item item-text-wrap">
                    <h4>Equipment</h4>
                    <ion-list>
                        <ion-item ng-repeat="item in recipeID.equipment">
                            {{item}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="card" ng-show="isSet(4)">
                <div class="item item-text-wrap">
                    <h4>Chef Tips</h4>
                    <ion-list>
                        <ion-item ng-repeat="tip in recipeID.cheftips">
                            {{tip}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
        
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-large bar-balanced">
        <div class="button-bar">
            <button ui-sref="recipeSteps" class="button button-balanced button-block">Cook This Recipe</button>
        </div>
    </ion-footer-bar>
</ion-view>
