<ion-view view-title="Recipe Detail" id="recipeDetail" hide-nav-bar="true"  style="background-color:#323232;">
    <ing-added-modal></ing-added-modal>
    <button class="button button-dark button-clear icon ion-android-arrow-back back-btn-position" ui-sref="tabsMaster" ng-hide="pageScrolled"></button>
    <img ng-src="{{recipeID.fullscreen}}" class="fullscreen" />
    <ion-content scroll="true" on-scroll="scrolled()">
        <div class="detail-page-content padding" ng-class="{'detail-open': detailTabOpen}" button-flash>
            <h3>{{recipeID.title}}</h3>
            <button class="button button-positive button-full icon button-transition" ng-click="addAllToList(); reset()" ng-class="{'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}">  Add to Shopping List</button>

            <div class="button-flex-group">
                <button class="button button-round icon ion-clipboard" ng-class="{'button-balanced': isSet(1)}" ng-click="setTab(1)"></button>
                <button class="button button-round icon ion-pizza" ng-class="{'button-balanced': isSet(2)}" ng-click="setTab(2)"></button>
                <button class="button button-round icon ion-erlenmeyer-flask" ng-class="{'button-balanced': isSet(3)}" ng-click="setTab(3)"></button>
                <button class="button button-round icon ion-umbrella" ng-class="{'button-balanced': isSet(4)}" ng-click="setTab(4)"></button>
            </div>

            <div style="margin-top:10px;" ng-show="detailTabOpen">
                <div class="pointer" ng-class="{'vanish':!showDetailTab, 'tab-two':isSet(2), 'tab-three':isSet(3), 'tab-four':isSet(4)}"></div>
                <hr />
            </div>
            
            <div class="card detail-tab" ng-show="isSet(1)">
                <div class="item item-text-wrap">
                    <h4>Overview</h4>
                    {{recipeID.overview[0]}}
                </div>
            </div>
            <div class="card detail-tab" ng-show="isSet(2)">
                <div class="item item-text-wrap">
                    <h4>Ingredients</h4>
                    <ion-list>
                        <ion-item ng-repeat="ingredient in recipeID.ingredients" ingredient-display button-flash>
                            <div ng-show="measureDisplay">
                                <strong>{{ingredient.name}}</strong>
                                <br />
                                <small><span ng-bind-html="ingredient.quantity | DecimalToFraction"></span> {{ingredient.measure}}<span ng-show="prepDisplay">, {{ingredient.prep}}</span></small>
                                <button class="button button-stable icon right button-transition shift-up" ng-class="{'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}" ng-click="addToList(ingredient); reset()"></button>
                            </div>
                            <div ng-hide="measureDisplay" ng-class="{'text-middle':!prepDisplay}">
                                <strong><span ng-bind-html="ingredient.quantity | DecimalToFraction"></span> {{ingredient.name}}</strong>
                                <br />
                                <small ng-show="prepDisplay">{{ingredient.prep}}</small>
                                <button class="button button-stable icon right button-transition" ng-class="{'shift-up': prepDisplay, 'shift-up-more': !prepDisplay, 'green':trigger, 'ion-android-checkmark-circle':trigger, 'ion-android-cart':!trigger}" ng-click="addToList(ingredient); reset()"></button>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="card detail-tab" ng-show="isSet(3)">
                <div class="item item-text-wrap">
                    <h4>Equipment</h4>
                    <ion-list>
                        <ion-item ng-repeat="item in recipeID.equipment">
                            {{item}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div class="card detail-tab" ng-show="isSet(4)">
                <div class="item item-text-wrap">
                    <h4>Chef Tips</h4>
                    <ion-list>
                        <ion-item ng-repeat="tip in recipeID.cheftips">
                            {{tip}}
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <hr class="detail-line" ng-class="{'push-line-down':detailTabOpen, 'remove-margin':showDetailTab}" />
        </div>
        
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-large bar-balanced">
        <div class="button-bar">
            <button ui-sref="recipeSteps" class="button button-balanced button-block">Cook This Recipe</button>
        </div>
    </ion-footer-bar>
</ion-view>
