<ion-view view-title="Account Options" id="accountOptions" style="background-color:#323232;">
    <ion-nav-buttons>
        <button class="button button-dark button-clear icon ion-android-arrow-back back-btn-position" ui-sref="tabsController.profile" nav-direction="back"></button>
    </ion-nav-buttons>

        <ion-content scroll="true">
            
            <div class="list">
                <a class="item" ui-sref="editProfile">Edit Profile</a>
                <a class="item">Privacy Policy</a>
                <a class="item" ng-click="logout()">Sign Out</a>
            </div>
            
            
    
         

        </ion-content>

</ion-view>
